<div class="docket">
  <%= render '/shared/search_form' %>
</div>
<div class="docket">
  <%= render '/shared/geolocatable' %>
</div>

<% if @origins.each do |origin| %>
  <% unless origin.noise.nil? %>
    <%= render 'noises/card', :noise => origin.noise %>
    <%= render :partial => 'admin/noises/card_addendum', :locals => {:noise => origin.noise} %>
  <% end %>
<% end.empty? %>
  <p>Couldn't find anything</p>
<% end %>