/* footer styles
-------------------------------------------------- */

.footer {
  // background-color: #f5f5f5;
  border-top: 1px solid $navbarBackground;
  margin-top: 15px;
  padding: 30px 0;
  text-align: center;
}