body {
  padding-top: 44px;
}

.header-navbar {
  z-index: 100;

  &.headroom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all .2s ease-in-out;
  }

  &.headroom--not-top {
    background-color: darken($bodyBackground, 5%);
  }

  &.headroom--unpinned {
    top: -100px;
  }

  &.headroom--pinned {
    top: 0;
  }
}