body {
  padding-top: $header-navbar-height;
}

// application nav bar

.header-navbar {
  background-color: #08c;
  height: $header-navbar-height;
  z-index: $header-navbar-z-index;

  &.headroom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all .2s ease-in-out;
  }

  &.headroom--unpinned {
    top: -100px;
  }

  &.headroom--pinned {
    top: 0;
  }

  .navbar-inner {
    background: transparent;
    border: none;
  }

  .nav {
    li {
      a {
        color: $bodyBackground;
      }
    }
  }
}
