body {
  padding-top: $header-navbar-height;
}

.header-navbar {
  background-color: rgba(darken($bodyBackground, 5%), .75);
  height: $header-navbar-height;
  z-index: 1000;

  &.headroom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all .2s ease-in-out;
  }

  &.headroom--unpinned {
    top: -100px;
  }

  &.headroom--pinned {
    top: 0;
  }
}