<div class="docket">
  <%= form_for(@user) do |f| %>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="actions">
      <%= f.submit "Save email", :class => "btn" %>
    </div>

  <% end %>
<div>