<% title @user.name %>

<div class="row">
  <div class="page-heading">
    <h1>
      <%= yield :title %>
    </h1>
  </div>
</div>

<% @noises.each do |noise| %>
  <div class="row cradle">
    <%= render '/noises/card_stack', :noise => noise %>
  </div>
<% end %>
