<%= link_to request.url, :class => "geolocatable", :data => { :geolocatable => nil, :"geolocatable-state" => "here" }, :disabled => :disabled do %>
  <span>
    <i class="fa fa-map-marker"></i>
  </span>
<% end %>