<%= link_to request.url, :class => 'btn', :data => { :geolocatable => nil, :"geolocatable-state" => "thinking" }, :disabled => :disabled do %>
  <span class="btn-label" data-geolocatable-state-label="thinking" >
    <i class="fa fa-refresh fa-spin"></i> Trying to find location
  </span>
  <span class="btn-label" data-geolocatable-state-label="ready" >
    <i class="fa fa-map-marker"></i> See nearby
  </span>
  <span class="btn-label" data-geolocatable-state-label="waiting" >
    <i class="fa fa-refresh"></i> Refresh
  </span>  
  <span class="btn-label" data-geolocatable-state-label="error" >
    <i class="fa fa-ban"></i> Could not determine location
  </span>
<% end %>