[data-cartography-map] {
  margin-bottom: 15px;
  margin-top: 15px;
}

[data-cartography-map-panel] {
  @include transition-property(height);
  height: 180px;

  &.expanded {
    height: 360px;
  }
}

[data-cartography-map-attribution] {
  display: none;
}