[data-cartography-map-panel] {
  @include transition-property(height);
  height: 180px;

  &.expanded {
    height: 100vh;

    &.fixed {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

[data-cartography-map-attribution] {
  display: none;
}