<% if @noises.each do |user_id, noises| %>
  <%= render 'card', :noise => noises.first, :additional_noises_count => noises.count %>
  <%= render :partial => 'admin/noises/card_addendum', :locals => {:noise => noises.first} %>
  <%= render :partial => 'admin/origins/card_addendum', :locals => {:noise => noises.first} %>
<% end.empty? %>
  <div class="card">
    <h2>It's quiet. Too quiet.</h2>
    <p>
      Sorry about this, looks like there's nothing going on in the vicinity.  
      Why not try see if anything going on in one of these areas?
    </p>

    <%= render '/neighborhoods/list' %>
  </div>
<% end %>