<% if @noises.each do |user_id, noises| %>
  <div class="row cradle">
    <%# Card with details %>
    <div class="card-deck">
      <% noises.each do |noise| %>
        <%= render '/noises/card_stack', noise: noise %>
      <% end %>
    </div>
  </div>

  <%# Map %>
  <div class="row cradle">
    <% if noises.first.lat_lngs? %>
      <div class="card-deck">
        <div class="card-addendum card-addendum-suffix">
          <%= render :partial => 'noises/map', :locals => {:noise => noises.first} %>
        </div>
      </div>
    <% end %>
  <div>

<% end.empty? %>
<div class="row">
    <div class="card">
      <h2>It's quiet. Too quiet.</h2>
      <p>
        Sorry about this, looks like there's nothing going on in the vicinity.
        Why not try see if anything going on in one of these areas?
      </p>

      <%= render '/neighborhoods/list' %>
    </div>
  <% end %>
</div>
