<%= form_tag noises_path, :method => 'get', :class => 'navbar-search' do %>
  <div class="field">
    <%= text_field_tag :location, params[:location], :placeholder => 'Where you at?' %>
  </div>
  <%= hidden_field_tag :latitude, params[:latitude], :class => 'hidden' %>
  <%= hidden_field_tag :longitude, params[:longitude], :class => 'hidden' %>
<% end %>