<%= form_tag noises_path, :method => 'get', :class => 'form-horizontal' do %>
  <div class="field">
    <%= text_field_tag :location, params[:location], :placeholder => 'Where you at?' %>
  </div>
<% end %>