<div class="row">
  <%= render 'map', :noise => @noise %>
</div>

<div class="row cradle">
  <%= render 'card_stack', :noise => @noise %>
</div>

<% unless @noises.empty? %>

  <div class="row">
    <div class="page-heading">
      <h2>
        Previously by <%= @noise.user_name %>
      </h2>
    </div>
  </div>

  <% @noises.each do |noise| %>
    <div class="row cradle">
      <%= render 'card_stack', :noise => noise %>
    </div>
  <% end %>

<% end %>
