<p id="notice"><%= notice %></p>

<%= render 'card', :noise => @noise %>

<% if @noise.has_coordinates? %>
  <div class="card">
    <div data-map></div>
  </div>
<% end %>

<% @noises.each do |noise| %>
  <%= render 'card', :noise => noise %>
<% end %>