<div class="docket">
  <h1>Editing noise</h1>
</div>

<div class="docket">
  <%= render 'form' %>
</div>

<div class="docket">
  <%= link_to 'Show', @noise %> |
  <%= link_to 'Back', noises_path %>
</div>