[data-cartography-map] {
  margin-bottom: 15px;
  margin-top: 15px;
}

[data-cartography-map-panel] {
  height: 180px;
}

[data-cartography-map-marker] {
  display: none;
}

[data-cartography-map-attribution] {
  display: none;
}