// colors
$blue: #0088cc;
$white: #ffffff;
$wild-sand: #f5f5f5;
$yellow: #f5d76e;

// typography
$base-type-color: #333333; // good for on white background

// layout
$base-block-spacing: 20px; // default for padding and margin

$base-border-radius: 0;

$base-max-readability-width: 500px;

$header-navbar-height: 44px;

// z-indexes
$header-navbar-z-index: 1000;
$loading-indicator-z-index: 3000;
