// typography
$base-type-color: #333333; // good for on white background

// layout
$base-block-spacing: 20px; // default for padding and margin

$base-border-radius: 0;

$base-max-readability-width: 500px;

$header-navbar-height: 44px;