// Variables

// Base class
.card {
  @extend .docket;
  @include word-wrap;
  background-color: transparent;
  padding: $base-block-spacing;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  h1 {
    @extend h5;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4em;
    margin: 0;

    a {
      // color: inherit;
    }
  }
}

.leaflet-popup-content {
  .card {
    border: none;
  }
}

.provider-twitter {
  @extend .fa;
  @extend .fa-twitter;
}
