//
// Wells
// --------------------------------------------------


// Variables
$card-border-color: darken($navbarBackground, 12%) !default;

// Base class
.card {
  @extend .docket;
  background-color: $white;
  padding: $base-block-spacing;

  h1 {
    @extend h5;
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
    margin: 0;
    margin-top: -5px;

    a {
      color: inherit;
    }
  }
}

.provider-twitter {
  @extend .fa;
  @extend .fa-twitter;
}