---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1%20Dr%20Carlton%20B%20Goodlett%20Pl,%20San%20Francisco,%20CA%2094102&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0
    body:
      encoding: UTF-8
      string: |
        {
           "exclude_from_slo" : true,
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1",
                       "short_name" : "1",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Doctor Carlton B Goodlett Place",
                       "short_name" : "Dr Carlton B Goodlett Pl",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Civic Center",
                       "short_name" : "Civic Center",
                       "types" : [ "neighborhood", "political" ]
                    },
           [...]
