<ul class="nav nav-pills">
  <li>
    <%= link_to 'Import', import_noises_path %>
  </li>
  <li>
    <%= link_to 'Noises', admin_noises_path %>
  </li>  
  <li>
    <%= link_to 'Users', admin_users_path %>
  </li>
  <li>
    <%= link_to 'Locations', admin_locations_path %>
  </li>
</ul>