<%= link_to noises_path(:latitude => last_known_latlng.latitude, :longitude => last_known_latlng.longitude), :class => 'brand', :data => { :geolocatable => nil, :"geolocatable-state" => "here" } do %>
  Sidewalks
<% end %>

<ul class="nav pull-right">
  <li>
    <%= render '/shared/geolocatable' %>
  </li>
</ul>
